<div class="container">
  <div class="grid">
    <div class="separate">
      <h2 class="separate__heading">
        Dịch vụ của chúng tôi
      </h2>
    </div>
    <div class="banner">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="/assets/images/banner-0.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-1.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-2.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-3.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-4.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-5.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-6.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
        <div class="item">
          <img src="/assets/images/banner-7.png" alt="Banner Nhà Đất Đức Hòa" />
        </div>
      </div>
    </div>

    <div class="separate">
      <h1 class="separate__heading">
        Tin mua bán nhà đất nổi bật
      </h1>
    </div>
    <div class="row">

      {{#each posts}}
        <div class="col l-6 m-6 c-12">
          <article class="post">
            <div class="post__left">
              <a
                href="/article/{{this.slug}}"
                class="post__left__link"
                aria-label="{{this.title}}"
              >
                <img
                  src="/{{this.thumbnail}}"
                  alt=""
                  class="post__left__image"
                />
              </a>
            </div>
            <div class="post__right">
              <a href="/article/{{this.slug}}" class="post__right__link">
                <h2 class="post__right__heading">
                  {{this.title}}
                </h2>
              </a>
              <div class="post__right__wrap">
                <div class="post__right__meta">Kích thước: {{this.size}}m</div>
                <div class="post__right__meta">
                  Diện tích:
                  {{this.area}}
                  m<sup>2</sup>
                </div>
              </div>
              <div class="post__right__wrap">
                <div class="post__right__meta">{{this.add1}}</div>
                <div class="post__right__meta">{{this.add2}}</div>
              </div>
              <div class="post__right__wrap">
                <div class="post__right__meta">Loại: {{this.type}}</div>
                <div class="post__right__meta">
                  Giá:
                  <span class="post__right__meta--price">{{this.price}}</span>
                </div>
              </div>
            </div>
          </article>
        </div>
      {{/each}}

    </div>

    <div class="separate">
      <h1 class="separate__heading">
        Tin mua bán nhà đất Đức Hòa
      </h1>
    </div>
    <div class="row">

    </div>
  </div>
</div>